PORT=3000
DB_URL=mongodb+srv://<mongoDB_username>:<Mongodb_password>@cluster0.af0nefq.mongodb.net/workshop
NODE_ENV=development
JWT_SECRET=main-nahi-batau-ga

EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS=your-16-digit-password